<template>
  <input type="text" v-model="searchQuery" @input="search" placeholder="Введите поисковый запрос">
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { debounce } from '../helpers';
  import { useSearchStore } from '../stores/search';

  const searchStore = useSearchStore();
  const searchQuery = ref('');

  const search = debounce(async () => {
      console.log(123)
      await searchStore.search(searchQuery.value)
  }, 200)

</script>

<style scoped lang="scss">
  input {
    width: 50%;
    border-radius: 20px;
    border: unset;
    outline: unset;
    box-shadow: 0px 3px 12px #00000017;
    padding: 12px 20px;
    font-size: 22px;
    margin-bottom: 36px;

    &:hover {
      box-shadow: 0px 3px 12px #00000025;
    }

    &::placeholder {
      opacity: .5;
    }
  }
</style>
