<template>
    <div @click="openMaps" class="card">
        <div class="left-part">
            <img v-if="element.icon" :src="element.icon" :alt="element.display_name" class="icon">
            <span v-else class="empty-icon">?</span>
            <p class="id">ID: {{ element.place_id }}</p>
        </div>
        <div class="right-part">
            <div class="country-code">
                <span :class="`fi fi-${element.address.country_code}`"></span>
            </div>
            <h3>{{ element.display_name }}</h3>
        </div>
    </div>
</template>
  
<script setup lang="ts">
import { SearchResult } from '../stores/search';

  const props = defineProps<{ element: SearchResult }>()

  const openMaps = () => {
    window.open(`https://maps.google.com/?q=${props.element.lat},${props.element.lon}`, '_blank');
  }
</script>
  
<style scoped lang="scss">
    .card {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 3px 12px #00000017;
        min-height: 100px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 3px 12px #00000025;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .left-part {
            width: 15%;
            min-width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .empty-icon {
                font-size: 36px;
                font-weight: 900;
            }

            .id {
                font-size: 11px;
                color: rgb(175, 175, 175);
            }
        }


        .right-part {
            display: flex;
            align-items: center;
            text-align: start;
            padding: 18px;

            h3 {
                line-height: 1;
            }

            .country-code {
                margin-right: 12px;
            }

            .address {
                line-height: 1;
                font-size: 14px;
                color: rgb(175, 175, 175);
            }
        }
    }
</style>
  