<template>
  <div class="container">
    <div>
      <a href="https://nominatim.org" target="_blank">
        <img src="https://camo.githubusercontent.com/6463de5386f43d6c67645ac94fc7a0fb309432e8f0b166ce2ef423057ea7bc0f/68747470733a2f2f77696b692e6f70656e7374726565746d61702e6f72672f772f696d616765732f372f37392f5075626c69632d696d616765732d6f736d5f6c6f676f2e737667" class="logo" alt="nominatim logo" />
      </a>
    </div>
    <SearchInput />
    <div class="cards">
      <SearchElement v-for="value in searchResults" :element="value" />
    </div>
  </div>
</template>

<script setup lang="ts">
  import SearchInput from './components/SearchInput.vue'
  import SearchElement from './components/SearchElement.vue'
  import { computed } from 'vue';
  import { useSearchStore } from './stores/search';


  const searchStore = useSearchStore();

  const loading = computed(() => {
    return searchStore.loading;
  })

  const searchResults = computed(() => {
    return searchStore.results;
  })
</script>

<style scoped lang="scss">
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .cards {
      width: 60%;
      max-height: 70%;
      overflow: auto;
      padding-right: 18px;

      &::-webkit-scrollbar {
        width: .5em;
      }
      
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: rgb(219, 219, 219);
        border-radius: 10px;
      }
    }
  }
</style>
